@{
  ViewData["title"] = "Yemek Ekle";
}

@model AddFoodViewModel


@section style {
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" rel="stylesheet">
  <style>
    .photo-box {
      width: 120px;
      height: 120px;
      background-color: #f8f9fa;
      border: 2px dashed #ccc;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #888;
      font-size: 14px;
      border-radius: 6px;
    }
  </style>

}

<div class="container py-5">
  <h2 class="mb-4">Yeni Yemek Ekle</h2>
  <div id="addCheck" class="col-md-12"></div>
  <div class="row g-4">
    <!-- Sol: Fotoğraflar -->
    <div class="col-md-5">
      <div id="fimages"></div>
      <div id="f-images" class="row gy-2 gx-2">
        <!-- resimler  -->
      </div>

      <div class="mt-4">
        <input class="form-control" id="images" type="file" multiple>
      </div>

    </div>

    <!-- Sağ: Form -->
    <div class="col-md-7">
     <input type="hidden" id="userid" value="@User.FindFirstValue(ClaimTypes.NameIdentifier)">
     <input type="hidden" id="addFoodUrl" value="@Url.Action("AddFood","Food")">
      <div class="mb-4">
        <label class="form-label" for="foodName">Yemeğin İsmi</label>
        <div id="fname"></div>
        <input type="text" class="form-control" id="foodName" placeholder="Bir isim ekleyin" />
      </div>

      <div class="mb-4">
        <label class="form-label" for="foodDescription">Açıklama</label>
        <div id="fdesc"></div>
        <input type="text" class="form-control" id="foodDescription" placeholder="Bir açıklama ekleyin" />
      </div>

      <!-- İçindekiler -->
      <div class="mb-4">
        <label class="form-label">İçindekiler</label>
        <div id="ingDiv"></div>
        <div class="input-group mb-2">
          <input type="text" class="form-control" id="ingredientText" placeholder="Bir malzeme ekleyin" />
          <button class="btn btn-outline-secondary" id="addIngredient" type="button">Ekle</button>
        </div>
        <ul class="list-group" id="ingredients">
          <!-- içindekiler -->
        </ul>
      </div>

      <!-- Adımlar -->
      <div class="mb-4">
        <label class="form-label">Adımlar</label>
        <div id="stepDiv"></div>
        <div class="input-group mb-2">
          <input type="text" id="stepText" class="form-control" placeholder="Bir adım ekleyin" />
          <button class="btn btn-outline-secondary" id="Addsteps" type="button">Ekle</button>
        </div>
        <ol class="list-group list-group-numbered" id="steps">
          <!-- adımlar -->
        </ol>
      </div>

      <!-- Etiketler -->
      <div class="mb-3">
        <label class="form-label">Etiketler</label>
        <div class="row">
          @foreach (var ftype in Model.Ftypes)
          {
            <div class="col-6 col-md-4">
              <div class="form-check">
                <input class="form-check-input" id="tag_@ftype.TypeID" type="checkbox" value="@ftype.TypeID"
                  name="ftypeIDs" />
                <label class="form-check-label" for="tag_@ftype.TypeID">@ftype.Name</label>
              </div>
            </div>
          }
        </div>
      </div>

      <button class="btn btn-primary mt-3" id="SaveFood" type="button">Yemeği Kaydet</button>
    </div> <!-- ./col-md-7 -->
  </div> <!-- ./row -->
</div> <!-- ./container -->


<script src="/js/Food/foodAdd.js"></script>